---
import noticias from "../../data/noticias.json";
---

<h1 class="noticias-titulo">
  <i class="fa-brands fa-galactic-republic"></i> Lanzamientos
</h1>

<section class="noticias-container">
  {
    noticias.map((noticia) => (
      <div class="noticia-container">
        <a href={noticia.link} class="noticia">
          <img
            src={noticia.imagen}
            alt={noticia.titulo}
            class="noticia-imagen"
          />
        </a>
        <div class="noticia-texto">
          <h3 class="noticia-texto-titulo">{noticia.titulo}</h3>
          <p class="noticia-descripcion">{noticia.descripcion}</p>
        </div>
      </div>
    ))
  }
</section>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Merriweather:wght@400;700&display=swap");
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Lora", serif;
  }

  /* Contenedor Principal */
  .noticias-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 40px;

    position: relative;
    background-color: rgb(29, 28, 28);
    font-family: "Georgia", serif;
  }

  /* Título */
  .noticias-titulo {
    font-size: 42px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: none;
    /* text-shadow: 2px 2px 8px rgb(213, 213, 212); */
    padding: 30px;
    font-weight: bolder;
    transition: color 0.9s ease; /* Duración y efecto de transición */
    background-color: white;
    padding-top: 30px;
  }

  .noticias-titulo i {
    color: black; /* Cambia el color del ícono */
    font-size: 54px; /* Ajusta el tamaño */
    margin-right: 5px; /* Cambia el margen derecho */
    transition: all 0.3s ease; /* Añade una transición para efectos interactivos */
  }

  .noticias-titulo i:hover {
    color: blue; /* Cambia el color al pasar el cursor */
    transform: scale(1.2); /* Escala el tamaño en hover */
  }

  /* Tarjeta de Noticias */
  .noticia-container {
    border-radius: 5px;
    overflow: hidden;
    max-width: 1550px;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .noticia-container:hover {
    transform: translateY(20px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
  }

  /* Imagen */
  .noticia-imagen {
    width: 100%;
    height: 230px;
    object-fit: cover;
    align-items: center;
  }

  /* Texto */
  .noticia-texto {
    padding: 15px;
    text-align: start;
    background: #f5f6f7;
    text-transform: uppercase;
  }

  .noticia-texto-titulo {
    font-size: 28px;
    margin-bottom: 12px;
    color: #121212;
    font-weight: bolder;
    text-shadow: 2px 2px 4px white;
    font-family: "Lora", serif;
  }

  .noticia-descripcion {
    font-size: 18px;
    color: rgb(18, 18, 18);
    line-height: 1.6;
    font-weight: 600;
    font-family: "Lora", serif;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .noticias-container {
      padding: 0;
      background-color: whitesmoke;
    }

    .noticia-imagen {
      height: 270px;
      align-content: center;
    }

    .noticias-titulo {
      font-size: 44px;

      padding: 10px;
      text-align: center;
      border-bottom: 20px solid white;
    }

    .noticia-container {
      transition: none;
      max-width: 1560px;
    }

    .noticia-container:hover {
      transform: none;
    }
    .noticia-texto {
      background-color: white;
      text-align: start;
      padding: 20px;
    }
    .noticia-texto-titulo {
      font-size: 26px;
    }

    .noticia-descripcion {
      font-size: 16px;
    }
  }
</style>
