---
// src/pages/noticias-nacionales/noticia-kia-ev9.astro
import Layout from "../../layouts/Layout.astro";
import noticiaData from "../../data/noticias.json";

const noticia = noticiaData.find((item) => item.id === 1);
---

{
  noticia ? (
    <Layout title={noticia.titulo} bodyClass="otras-page">
      <section class="noticia-detalle">
        <p class="noticia-descripcion">{noticia.descripcion}</p>

        <img
          src={noticia.imagen}
          alt={noticia.titulo}
          class="noticia-portada"
        />
        <h1>{noticia.titulo}</h1>
        <article>
          {noticia.contenido ? (
            noticia.contenido.map((seccion, index) => (
              <div
                class={`noticia-bloque ${index % 2 === 0 ? "noticia-imagen-izquierda" : "noticia-imagen-derecha"}`}
              >
                <div class="noticia-texto">
                  <h3 class="noticia-titulo">{seccion.titulo}</h3>
                  <p class="noticia-parrafo">{seccion.parrafo}</p>
                </div>
                <img
                  src={seccion.imagen}
                  alt={noticia.titulo}
                  class="noticia-imagen"
                />
              </div>
            ))
          ) : (
            <p>Contenido no disponible</p>
          )}
        </article>
      </section>
    </Layout>
  ) : (
    <p>Noticia no encontrada</p>
  )
}

<style>
  body {
    font-family: "Georgia", serif;
  }

  /* Contenedor principal */
  .noticia-detalle {
    width: 100%;
    margin: 0;
    padding: 20px 0;

    position: relative;
    background: white;
  }

  /* Título flotante */
  .noticia-detalle h1 {
    font-size: 75px;
    text-align: center;
    color: black;
    background: #f1f2f2;
    font-weight: 400;
    margin: 0 auto 5px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid black;
    padding: 15px;
  }

  .noticia-descripcion {
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
  }

  /* Imagen de portada */
  .noticia-portada {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 20px;
    transition: box-shadow 0.4s ease;
  }

  .noticia-portada:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  }

  /* Bloques alternados */
  .noticia-bloque {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 30px auto;
  }

  .noticia-bloque img {
    width: 50%;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    transition: transform 0.9s ease; /*efecto alejamiento zoom*/
  }

  /*efecto alejamiento zoom*/
  .noticia-bloque img:hover {
    transform: scale(0.9); /* Reduce el tamaño de la imagen al 80% */
  }

  .noticia-bloque .noticia-texto {
    flex: 1;
    text-align: center;

    padding: 20px;
    border-radius: 12px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .noticia-titulo {
    font-size: 26px;
    font-weight: bolder;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .noticia-bloque .noticia-parrafo {
    font-size: 22px;
    color: black;
  }

  /* Alternar posiciones */
  .noticia-imagen-izquierda {
    flex-direction: row;
  }

  .noticia-imagen-derecha {
    flex-direction: row-reverse;
  }

  /* Responsividad */
  @media (max-width: 768px) {
    .noticia-bloque {
      flex-direction: column;
    }
    .noticia-detalle h1 {
      font-size: 40px;
      background: none;
      color: black;
      text-shadow: none;
    }

    .noticia-bloque img {
      width: 100%;
    }

    .noticia-bloque .noticia-texto {
      font-size: 20px;
    }

    .noticia-descripcion {
      font-size: 22px;
      font-weight: bolder;
      padding: 15px;
    }

    .noticia-bloque .noticia-parrafo {
      font-size: 20px;
      color: black;
    }

    .noticia-bloque .noticia-texto {
      width: 100%;
    }

    /* titulo-texto */
    .noticia-titulo {
      font-size: 24px;
    }

    .noticia-portada {
      border-bottom: none;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
</style>
